body {
  font-family: 'Roboto', sans-serif;
  background-color: #FAF7F2;
  margin: 0;
  padding: 0;
  color: #292929;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 2rem;
}

button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}
